.search-list {
  width: 100%;
  position: absolute;
  top: 102%;
  box-shadow: 1px 0px 35px -24px rgba(0,0,0,0.75);
  background-color: white;
  padding: 10px;
}

.search-list.hidden {
  opacity: 0;
  visibility: hidden;
}
