.notification {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--grey-dark);
}

.header {
  font-size: 1.4rem;
  margin: 10px 0;
  font-weight: 600;
  color: var(--primary-dark);
}

.info-item {
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 600;
}

.info-item span {
  font-weight: normal;
}

.inner-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0;
}

.button-group a,
.button-group button {
  display: block;
  margin: 20px 0;
  height: 70px;
  width: 350px;
}

.button-group button svg {
  color: white;
}

.notify {
  font-size: 1.4rem;
  margin: 60px auto;
  width: fit-content;
  color: var(--grey-dark);
  text-align: center;
}

.notify svg {
  width: 40px;
  height: 40px;
}

.payment-wrapper div{
  margin: 10px 0;
}
