.btn {
  background-color: transparent;
  border: solid 1px white;
  width: 48px;
  height: 48px;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  background-color: var(--primary);
  border: solid 1px var(--primary);
}

.quantity {
  position: absolute;
  height: 14px;
  line-height: 14px;
  background-color: var(--primary-dark);
  padding: 0 5px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 20px;
  top: 8px;
  right: 4px;
}
