.btn {
  font-size: 1.2rem;
  border: solid 2px var(--text);
  text-transform: uppercase;
  line-height: normal;
  padding: 15px;
  width: 100%;
  min-width: 80px;
  color: var(--text);
  font-weight: 600;
  background-color: transparent;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn:hover {
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}