.product-image {
  background-color: var(--milk-bg);
  border-radius: 20px;
}

.product-name {
  font-size: 52px;
  font-weight: 600;
}

.product-description {
  margin: 20px 0 30px 0;
  line-height: 1.4rem;
  color: var(--grey-dark);
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wish-wrapper a {
  background-color: var(--milk-bg);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.quantity-control {
  display: flex;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  background-color: #f7f4ef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition: all 0.2s;
  border: none;
}

.quantity-control input {
  height: 50%;
  width: 45px;
  font-size: 1.2rem;
  text-align: center;
  border: none;
}

.quantity-control input:focus {
  outline: none;
}

.quantity-control a:hover {
  color: var(--primary);
}

.product-stock {
  margin-bottom: 10px;
}

.link-item {
  margin-bottom: 5px;
}

.link-item a {
  color: var(--grey-dark);
  font-weight: 600;
  transition: all 0.2s;
  margin-bottom: 10px;
}

.link-item a:hover {
  color: var(--primary);
}

.social-item {
  margin: 0 5px;
  display: block;
  transition: all 0.2s;
  color: var(--grey-dark);
}

.social-item:hover {
  color: var(--primary);
}

.social-wrapper {
  display: flex;
  align-items: center;
}

.note-content {
  list-style: disc;
  margin-left: 20px;
  color: var(--grey-dark);
}

.note-content li {
  margin: 10px 0;
}

.description {
  margin: 80px auto 80px auto;
}

.checkout {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tabs-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-buttons-wrapper button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  min-width: 200px;
  padding: 12px 22px;
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: 600;
}

.tabs-buttons-wrapper button:hover {
  background-color: var(--primary);
}

.tabs-buttons-wrapper button.button-active {
  background-color: var(--primary);
}

.desc-content {
  line-height: 1.6rem;
  color: var(--grey-dark);
}

.tabs-content-wrapper {
  margin-top: 30px;
}

.empty-rv {
  text-align: center;
  font-size: 1.2rem;
  color: var(--grey-dark);
}

@media (max-width: 992px) {
  .detail-wrapper,
  .tabs-content-wrapper {
    padding: 0 10px;
  }

  .tabs-buttons-wrapper button {
    min-width: 100px;
  }
}
