.product-image {
  background-color: var(--milk-bg);
  border-radius: 20px;
}

.product-name {
  font-size: 52px;
  font-weight: 600;
}

.product-description {
  margin: 20px 0 30px 0;
  line-height: 1.4rem;
  color: var(--grey-dark);
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wish-wrapper a {
  background-color: var(--milk-bg);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.product-stock {
  margin-bottom: 10px;
}

.link-item {
  margin-bottom: 5px;
}

.link-item a {
  color: var(--grey-dark);
  font-weight: 600;
  transition: all 0.2s;
  margin-bottom: 10px;
}

.link-item a:hover {
  color: var(--primary);
}

.social-item {
  margin: 0 5px;
  display: block;
  transition: all 0.2s;
  color: var(--grey-dark);
}

.social-item:hover {
  color: var(--primary);
}

.social-wrapper {
  display: flex;
  align-items: center;
}

.note-content {
  list-style: disc;
  margin-left: 20px;
  color: var(--grey-dark);
}

.note-content li {
  margin: 10px 0;
}

.checkout {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.add-to-cart-wrapper {
  width: 250px;
}