.comment label {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}

.rating-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.rating-label span {
  color: var(--red);
}

.form-warn {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-style: italic;
  color: var(--grey);
}

.form-warn_2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-style: italic;
  color: var(--text);
}

.form-warn span {
  color: var(--red);
}

.btn-wrapper {
  margin-top: 20px;
  width: 50%;
}

.btn-wrapper button {
  height: 60px;
}

.btn-wrapper button svg {
  color: white;
}

.product_name {
  font-weight: 600;
  color: var(--primary-dark);
}
