.wrapper {
  border: 1px solid var(--grey-border);
  padding: 6px;
  width: 100%;
}

.wrapper label {
  display: none;
}

.wrapper form {
  display: flex;
  justify-content: space-between;
}

.wrapper input {
  width: 70%;
  background-color: transparent;
  color: var(--grey-dark);
  border: none;
  padding: 8px 14px;
}

.wrapper input:focus {
  outline: none;
}

.wrapper button {
  width: 18%;
  font-weight: 700;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
}
