.breadcrumbs-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brc-item {
  font-size: 1.2rem;
}

.brc-item a {
  color: var(--grey);
  transition: all 0.3s;
}

.brc-item a:hover {
  color: var(--primary);
}

.header {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--green);
}
